In [2]:
import math


loaded CSV at the end of notebook

In [3]:
math.sqrt(25)

5.0

In [4]:
math.pi

3.141592653589793

In [5]:
import math as mt

In [6]:
mt.sqrt(25)

5.0

In [8]:
from numpy import random

In [9]:
import numpy as np

In [13]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)
dataOne

array([[0.59086946, 0.18032234, 0.50792755, 0.59040027, 0.7659384 ],
       [0.08751058, 0.49542449, 0.62747274, 0.95628037, 0.24475117],
       [0.46631961, 0.9083706 , 0.57586177, 0.77857377, 0.04625746],
       [0.19215072, 0.05842358, 0.40735913, 0.12854083, 0.50893781],
       [0.17688986, 0.66881284, 0.27052283, 0.25654016, 0.61865842]])

In [12]:
np.mean(dataOne)

0.4924729496010678

In [15]:
print('I Love data Science')

I Love data Science

In [16]:
variableName = 25
variableName1 = 'I Love data Science'
print(variableName1)
type(variableName)

I Love data Science

int

In [17]:
variableName = 25.0
type(variableName)

float

In [18]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [19]:
listName = [ ]
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [20]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [36]:
intdi = {'int1': 1, 'int2': 2, 'int3': 4, 'int4': 9, 'int5': 16}

In [37]:
var1 = mt.sqrt(intdi['int4'])

In [38]:
var2 = mt.factorial(intdi['int3'])

In [39]:
var3 = mt.gcd(intdi['int2'],intdi['int5'])

print(intdi)
print(var1)
print(var2)
print(var3)

In [7]:
import pandas as pd

In [8]:
df1 = pd.read_csv("C:/Users/Administrator/Documents/class-job files/UT Data Analytics Class/C5 Data Science with Python/Task 1/CompleteResponses.csv")
print(df1[0:10])

         salary  age  elevel  car  zipcode        credit  brand
0  119806.54480   45       0   14        4  442037.71130      0
1  106880.47840   63       1   11        6   45007.17883      1
2   78020.75094   23       0   15        2   48795.32279      0
3   63689.93635   51       3    6        5   40888.87736      1
4   50873.61880   20       3   14        4  352951.49770      0
5  130812.74280   56       3   14        3  135943.02200      1
6  136459.33920   24       4    8        5   80500.56351      1
7  103866.89960   62       3    3        0  359803.89350      1
8   72298.80402   29       4   17        0  276298.69520      0
9   37803.33285   41       1    5        4  493219.26860      1

pulled in an old csv using pandas.  Did not run into any trouble or errors while trying this, had found another library when intially looking for steps on this piece called csv, but I found the information on pandas as well so I did not try with the csv library

Installing python and the libraries was straightforward.  I had already had it done from a previous course (both python and the libraries due to installing anaconda).

The tutorial for installing and running over some of the basics was useful.  It walks you over the basics but doesn't get too complicated while still giving you the information need to take on more complciated pieces.

Again I think the main lesson behind all this was some of the basics.  I think getting people comfortable with different libraries is key since they are such a huge tool and getting people into using jupyter notebook is great.  I had worked a little bit with python in the past so a lot of the basics were not new to me, but I have not really gotten to use jupyter notebooks much at all (had mostly worked with random IDE) so I am excited to be able to give it a try during this.

In [9]:
df1

            salary  age  elevel  car  zipcode        credit  brand
0     119806.54480   45       0   14        4  442037.71130      0
1     106880.47840   63       1   11        6   45007.17883      1
2      78020.75094   23       0   15        2   48795.32279      0
3      63689.93635   51       3    6        5   40888.87736      1
4      50873.61880   20       3   14        4  352951.49770      0
5     130812.74280   56       3   14        3  135943.02200      1
6     136459.33920   24       4    8        5   80500.56351      1
7     103866.89960   62       3    3        0  359803.89350      1
8      72298.80402   29       4   17        0  276298.69520      0
9      37803.33285   41       1    5        4  493219.26860      1
10     63704.26156   48       4   16        5  299460.22740      1
11    128999.93560   52       1    6        0  152232.50980      0
12     57991.29599   52       3   20        4  227743.74970      1
13     82474.57645   33       4   13        3  424657.49670      0
14     63988.96981   62       2    6        3  262136.30650      0
15    132310.36040   23       1   11        4  451927.60240      1
16    113236.38360   24       2    7        7  198381.89840      1
17    120525.59940   57       1    6        2   15964.68370      0
18    121457.63490   50       2    2        8  415359.23240      0
19     89740.99923   77       0   18        2  195091.92590      1
20     95142.11810   44       0    2        8   89818.29461      0
21     87383.95734   80       3    7        5  243166.61170      1
22     21143.94206   64       2   11        2  296635.25070      1
23     34581.64726   55       0   15        6  185603.25070      1
24     37200.74208   32       3    9        6  168547.07610      1
25     60305.50057   58       1    4        4  469719.50060      1
26     32839.41644   30       4   20        1  177224.36260      1
27     45070.50666   48       3    1        5  360446.39090      1
28     92417.81235   43       0    2        0   22677.44642      0
29    107710.31920   75       0   16        2  209002.40650      1
...            ...  ...     ...  ...      ...           ...    ...
9868   68137.90860   50       4   17        1  225870.23500      1
9869  137519.11240   50       4    9        0  477984.41990      1
9870   84927.05267   26       1   19        6   46527.20765      0
9871   58256.33954   47       0   14        6  383583.06670      1
9872   77477.91120   50       3   11        2  290851.27900      0
9873   20000.00000   68       1    2        2  309608.69120      1
9874  124107.39180   50       0    3        6  282299.59790      1
9875   62906.78635   27       3    7        6  315759.16680      0
9876  116003.37970   67       4   14        5   13989.50448      1
9877   40641.88742   43       4   17        2  175979.86040      1
9878   95164.79018   61       2   16        7  298376.74790      1
9879   33536.75554   54       2    1        3  339148.74640      1
9880   33002.28517   27       3    9        2  435168.11810      1
9881   54496.32543   47       3    1        0  307802.09070      1
9882  123690.81900   51       0   18        0  202377.62730      1
9883   46398.18577   75       1   15        1  245479.56910      0
9884  122232.76890   41       0   11        8  222881.07390      0
9885  125856.04040   79       2    2        6  474557.49130      1
9886   20609.88696   34       3   14        8  423847.35160      1
9887   65351.63132   64       2    8        3   55905.37003      0
9888   61754.94679   55       4    4        4  426934.50590      1
9889  107514.96740   31       4    9        8  398788.19080      1
9890   56402.75863   22       2   14        1  201490.36420      0
9891   46041.83546   76       3   10        8  479419.77360      0
9892   28751.26107   60       2   10        0       0.00000      1
9893   87580.91422   75       1   18        8  282511.90950      1
9894  129181.38200   75       2    7        4  384871.36390      1
9895   97828.08884   66       2   15        0  399446.69620      1
9896   20000.00000   24       1   14        1  223204.64950      1
9897   96430.16419   34       1    2        7  224029.80700      0

[9898 rows x 7 columns]